{% extends "itreporting/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <!-- The csrf_token provides additional security for the forms -->

        <!-- Form elements -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log-In</legend>
            {{ form | crispy }}
        </fieldset>

        <!-- Submit button -->
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Login</button>
        </div>
    </form>

    <!-- Link to the Login page -->
    <div class="border-top pt-3">
        <small class="text-muted">You need to create an account?<a class="ml-2"
            href="{% url 'register' %}">Register</a></small>
    </div>
</div>
{% endblock content %}
